.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 96px;
        img {
            width: 100%;
        }
    }
    &__wrapper {
        display: grid;
        grid-template: 45px / repeat(2, 160px);
        column-gap: 20px;
    }
    &__contacts {
        display: grid;
        grid-row: 1fr;
        place-items: center end;
        &-subheader {
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
            color: var(--text-color-white);
        }
        &-number {
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
            color: var(--text-color-white);
            transition: all .3s;
            &:hover {
                text-decoration: none;
                color: var(--main-color);
            }
        }
    }
}