.menu {
    position: relative;
    height: 23px;
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }
    &__item {
        border-right: 1px dotted rgba($color: #ffffff, $alpha: 0.4);
        padding: 0 12px 0 12px;
        &:last-child {
            border-right: none;
        }
    }
    &__link {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;
        color: var(--text-color-white);
        transition: all .3s;
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            top: 23px;
            left: 0;
            background: var(--main-color);
            transition: opacity .3s ease-in-out;
            opacity: 0;
        }
        &:hover {
            text-decoration: none;
            color: var(--main-color);
            &:before {
                opacity: 1;
            }
        }
    }
    &__hamburger {
        display: none;
    }
}