.questions {
    padding: 62px 0 80px;
    min-height: 438px;
    background: url('../img/contacts_bg.jpg') center (center / cover) no-repeat;
    &__form {
        margin: 0 122px;
        display: grid;
        grid-template: 68px minmax(230px, auto) / minmax(300px, 896px);
        background-color: rgba(255, 255, 255, .7);
        &-hat {
            padding: 20px 0;
            background-color: #25333c;
            font-size: 18px;
            line-height: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: var(--text-color-white);
            span {
                font-size: 14px;
                font-weight: 300;
            }
        }
        &-items {
            margin: 18px 42px 25px;
            display: grid;
            grid-template: 45px minmax(8px, auto) minmax(71px, auto) 62px / repeat(3, 1fr);
            column-gap: 6px;
            input, textarea {
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: 300;
                text-align: left;
                border: 1px solid rgba(0, 0, 0, 0.21);
            }
            input {
                order: -1;
                padding: 0 28px;
                border-radius: 50px;
                color: #101010;
            }
            textarea {
                grid-area: 3 / 1 / 4 / 4;
                padding: 18px 28px;
                border-radius: 5px;
                resize: none;
            }
        }
        &-submit {
            margin-top: 17px;
            justify-self: center;
            grid-area: 4 / 2 / 5 / 3;
        }
        .error {
            border: 1px solid red;
        }
        label.error {
            margin: 10px 0;
            border: none;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
            color: red;
            &:first-of-type {
                grid-column: 1 / 2;
            }
            &:nth-last-of-type(2) {
                grid-column: 2 / 3;
            }
            &:last-of-type {
                grid-column: 3 / 4;
            }
        }
    }
}