.questions {
    padding: 60px 0 80px;
    min-height: 438px;
    background: url('../img/contacts_bg.jpg') center (center / cover) no-repeat;
    &__form {
        margin: 0 122px;
        display: grid;
        grid-template: 68px minmax(230px, auto) / 1fr;
        background-color: rgba(255, 255, 255, .7);
        &-hat {
            padding: 20px 0;
            background-color: #25333c;
            font-size: 18px;
            line-height: 14px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: var(--text-color-white);
            span {
                font-size: 14px;
                font-weight: 300;
            }
        }
        &-wrapper {
            position: relative;
            margin: 18px 42px 87px;
            display: grid;
            grid-template: minmax(45px, auto) 71px / repeat(3, 1fr);
            grid-gap: 8px 6px;
        }
        &-items {
            display: grid;
            grid-template: 45px / 1fr;
            grid-auto-rows: auto;
            input {
                padding: 0 28px;
                border-radius: 50px;
                color: #101010;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: 300;
                text-align: left;
                border: 1px solid rgba(0, 0, 0, 0.21);
            }
        }
        &-textarea {
            grid-area: 2 / 1 / 3 / 4;
            textarea {
                padding: 18px 28px;
                border-radius: 5px;
                resize: none;
                width: 100%;
                height: 100%;
                font-size: 13px;
                font-weight: 300;
                text-align: left;
                border: 1px solid rgba(0, 0, 0, 0.21);
            }
        }
        &-submit {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 100%);
            bottom: -17px;
        }
        .error {
            border: 1px solid red;
        }
        label.error {
            margin: 10px 0;
            border: none;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
            color: red;
        }
    }
}